div.imageFrame {
  min-height: 200px;
  width: 200px;
  background-color: grey;
}

div.imageFrame img {
  height: auto;
  width: 200px;

}

body{
  background: url("assets/concrete_seamless.png") repeat;
}