div.imageFrame {
  min-height: 200px;
  width: 200px;
  /*background-color: white;*/
}

div.imageFrame img {
  height: auto;
  width: 200px;
}
div.imageFrame p{
  text-align: center;
}

body{
  /*background: url("../assets/concrete_seamless.png") repeat;*/
  /*background: url("../assets/subtle_white_mini_waves.png") repeat;*/
  /*background: url("../assets/school.png") repeat;*/
  /*background: url("../assets/halftone.png") repeat;*/
  background: url("../assets/escheresque_ste.png") repeat;
  /*background: url("../assets/seamless_paper_texture.png") repeat;*/
}

.jumbotron.login{
  border-radius: 10px;
  border: 1px solid grey;
}

a.navbar-brand{
  font-weight: bolder;
}

div.singleButton{
  margin-top: 1em;
}

.btn{
  margin-top: .5em;
}

.add-quiz{
  display: block;
}

h3{
  font-style: italic;
}

div.login {
  background: url(../assets/classroom.jpg) no-repeat;
  color: white;
}

div.login button {
  color: black;
  background: rgba(204,204,204,1);
}

.marketing {
  color: #FFD6AA;
}

div.login > div {
  display:inline-block;
}

div.login fieldset {
  padding: 1em;
  margin-top: 1.5em;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  border: 2px solid #ccc;
  border-radius: 10px;
  position: relative;
}

div.google-play, div.app-store {
  color: white;
  width: 129px;
  height: 45px;
  position: absolute;
  right: 0;
  margin-right: 1em;
  margin-top: 2em;
  background-size: 100%;
  background-repeat: no-repeat;
}

div.google-play {
  background-image: url(../assets/android.png);
  top: 0;
}

div.app-store {
  background-image: url(../assets/app-store.png);
  background-color: black;
  top: 60px;
  border: 1px solid white;
  border-radius: 8px;
  background-size: 100% 100%;
}