this is instructor quiz view.
<form ng-submit="addQuiz(question, choices)">
  <div class="form-group">
    <label for="question">Question</label>
    <input ng-model="question" type="text" class="form-control" id="question" placeholder="Please enter a question" required />
    <label for="choices">Choices</label>

    <button ng-click="add()">Add</button>
    <div>
      <ol ng-repeat="choice in choices track by $index">
        <li><button ng-click="remove($index)">[-]</button><input ng-model="choice" ng-change="saveChange($index, choice)" type="text" class="form-control" placeholder="Please enter choices" required /> {{ choice }} {{$index}} </li>
      </ol>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<accordion close-others="oneAtATime">

  <div ng-repeat="quiz in quizes">
    
    <accordion-group>
    <accordion-heading>
    <button type="button" class="btn btn-primary" ng-model="quizTrigger.val" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-change="quizTrigger.$save()" ng-click="pushQuiz(quiz)">Push Quiz</button>
    {{quiz.question}}
    </accordion-heading>
    <ul ng-repeat="choice in quiz.choices track by $index">
      {{$index+1}} : {{choice}}
    </ul>
    </accordion-group>
  </div>

</accordion>