<div class='jumbotron'>

this is instructor quiz view.
<progress><bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%-{{bar.choice}}</span></bar></progress>


<accordion close-others="oneAtATime">

  <div ng-repeat="quiz in quizes">
    
    <accordion-group>
    <accordion-heading>
    <button type="button" class="btn btn-primary" ng-model="quizTrigger.val" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-change="quizTrigger.$save()" ng-click="pushQuiz(quiz)">Push Quiz</button>
    {{quiz.question}}
    </accordion-heading>
    <ul ng-repeat="choice in quiz.choices track by $index">
      {{$index+1}} : {{choice}}
    </ul>
    </accordion-group>
  </div>

</accordion>

<form ng-submit="addQuiz(question, choices)">
  <div class="form-group">
    <label for="question"><h2>Question</h2></label>
    <input ng-model="question" type="text" class="form-control" id="question" placeholder="Please enter a question" required />
    <label for="choices"><h2>Choices</h2></label>

    <button class='btn btn-primary add-quiz' ng-click="add()">Add</button>
    <div>
      <ol ng-repeat="choice in choices track by $index">
        <li><button class='btn btn-default' ng-click="remove($index)"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button><input ng-model="choice" ng-change="saveChange($index, choice)" type="text" class="form-control" placeholder="Please enter choices" required /> {{ choice }} {{$index}} </li>
      </ol>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
