<div class='jumbotron'>
<!-- Instructor Thumbs View -->
<div class="imageFrame center-block" ng-init="pickedStudent.imageUrl='assets/placeholder-hi.png'">
  <img ng-src={{pickedStudent.imageUrl}} alt="Github avatar" class='img-rounded'>
  <p>{{pickedStudent.name}}</p>
</div>

<div class="btn-group btn-group-justified btn-group-lg hidden-sm hidden-xs">
  <label ng-click="pickRandom(studentList.up)" type="button" class="btn btn-primary btn-lg" data-toggle="tooltip" data-placement="bottom" title="Pick a random student">
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{result[0]}}
  </label>
  <label ng-click="pickRandom(studentList.middle)" type="label" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span> {{result[1]}}
  </label>
  <label ng-click="pickRandom(studentList.down)" type="label" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{result[2]}}
  </label>
</div>

<!-- Vertical button group, visible only for sm and xs screens -->
<div class="btn-group-vertical btn-group-lg visible-sm visible-xs hidden-md hidden-lg">
  <label ng-click="pickRandom(studentList.up)" type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{result[0]}}
  </label>
  <label ng-click="pickRandom(studentList.middle)" type="label" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span> {{result[1]}}
  </label>
  <label ng-click="pickRandom(studentList.down)" type="label" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{result[2]}}
  </label>
</div>


<div class="singleButton">
  <button type="button" class="btn btn-lg" ng-model="trigger.val" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="reset()" ng-change="trigger.$save()">
      Start New
  </button>
</div>

</div>
