<div class='jumbotron login'>
  <div class="text-wrapper">
    <h1><strong>Thumbs Check</strong> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></h1>
    <h3><em>Enhanced real-time classroom interaction and analytics</em></h3>
    <fieldset>
      <h2>Login</h2>
      <p>
        <button class='btn btn-lg' ng-click="oauthLogin('github')">GitHub</button>
      </p>
      <div class="google-play"></div>
      <div class="app-store"></div>
    </fieldset>
  </div> <!-- closes text-wrapper -->
</div>
<div class="container marketing">
  <div class="row">
    <div class="col-md-4">
      <h2>Classroom Feedback</h2>
      <p>Lecturers need a better way to guage whether their class understands the material. Thumbs Check allows you to poll your class on the fly.</p>
    </div>
    <div class="col-md-4">
      <h2>Custom Questions</h2>
      <p>In addition to getting a simple thumbs up/thumbs down from your audience, you can create custom quizzes before your lecture and push them to students at any time.</p>
   </div>
    <div class="col-md-4">
      <h2>Real-time</h2>
      <p>Results are delivered to you real-time - no delay. Find out whether you need to slow down and re-explain a concept, or move on - all within a matter of seconds.</p>
    </div>
  </div>
</div>