

<div ng-show="trigger.val">Waiting...</div>

<div ng-hide="trigger.val">
Thumbs Pick
<div>{{ radioModel }}</div>

<div class="btn-group" ng-init="radioModel='middle'">
  <label class="btn btn-primary" ng-model="radioModel" btn-radio="'up'" ng-click="clicked()">Up</label>
  <label class="btn btn-primary" ng-model="radioModel" btn-radio="'middle'" ng-click="clicked()">Middle</label>
  <label class="btn btn-primary" ng-model="radioModel" btn-radio="'down'" ng-click="clicked()">Down</label>
</div>

</div>

<button ng-click="trigger.val = !trigger.val">Toggle</button>

