
<!-- For testing purpose, should be deleted on production -->
<!-- <div class='col-lg-6 col-lg-offset-3'> -->
<div class='jumbotron'>
  <h1>Thumbs Check <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></h1>
  <button ng-click="thumbsTrigger = !thumbsTrigger">Toggle</button>

  <div ng-hide="thumbsTrigger" ng-init="thumbsTrigger=false">
    <h2>Waiting...</h2>
  </div>


  <div ng-if="quizTrigger" ng-init="quizTrigger = false">
    <p>testing quiz</p>
    <div>
      Question: {{ quiz.question }} <br/>
      <div class="btn-group" ng-repeat="choice in quiz.choices track by $index">
        <label class="btn btn-primary" ng-model="quizChoice" btn-radio="choice" ng-click="submitQuizChoice($index)">{{choice}}</label>
      </div>
    </div>
  </div>

  <div  ng-show="thumbsTrigger">
    Thumbs Picked: 
    <div>{{ thumbsChoice }}</div>
    <h2>Thumbs check!</h2>
    <div class="btn-group btn-group-justified btn-group-lg hidden-sm hidden-xs">
      <label class="btn btn-primary" ng-model="thumbsChoice" btn-radio="'up'" ng-click="clicked('up')">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Up
      </label>
      <label class="btn btn-primary" ng-model="thumbsChoice" btn-radio="'middle'" ng-click="clicked('middle')">
        <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span> Middle
      </label>
      <label class="btn btn-primary" ng-model="thumbsChoice" btn-radio="'down'" ng-click="clicked('down')">
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Down
      </label>
    </div>


<!-- Vertical button group, visible only for sm and xs screens -->
    <div class="btn-group-vertical btn-group-lg visible-sm visible-xs hidden-md hidden-lg">
      <label class="btn btn-primary" ng-model="thumbsChoice" btn-radio="'up'" ng-click="clicked('up')">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Up
      </label>
      <label class="btn btn-primary" ng-model="thumbsChoice" btn-radio="'middle'" ng-click="clicked('middle')">
        <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span> Middle
      </label>
      <label class="btn btn-primary" ng-model="thumbsChoice" btn-radio="'down'" ng-click="clicked('down')">
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Down
      </label>
    </div>

  </div>


</div>

